name: Solid Macros Sync

on:
  push:
    branches:
      - main
      - Solid-Macros-Auto-Sync
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Unreal-Flecs
        uses: actions/checkout@v4

      - name: Sync SolidMacros folders to Solid-Macros (direct push)
        uses: Redocly/repo-file-sync-action@main
        with:
          GH_PAT: ${{ secrets.GH_PAT }}
          COMMIT_PREFIX: "[UnrealFlecs-SolidMacros Sync]"
